@font-face{
	font-family:CrimsonSemiBold;
	src: url('../fonts/Crimson-Semibold.otf');
}

@font-face{
	font-family:CrimsonRoman;
	src: url('../font/Crimson-Roman.otf');
}
/*
*SITEWIDE RESETS
*/
*{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
	color: #369;
}
/*
*HEADER & SECTION STYLES
*/
header,
section {
	margin: 30px auto;
	width: 80%;
	display: block;
}
/*
*HR STYLES
*/
hr{
	background: white url('../img/img-hr.png') no-repeat scroll 50% 50%;
	clear:both;
	border: 0;
	height: 12px;
}
/*
*NAVIGATION
*/
nav{
	min-width:100%;
	height:48px;
	font-family:sans-serif;
}
nav ul {
	float:right;
	margin:12px 18px;
	padding: 10px 30px;
}
nav li{
	margin: 0 5px;
	padding:5px;
	font-size:12px;
	display:inline-block;
	color: #369;
}
nav a:hover{
	color: #18AFE0;
}
.signin{
	color: #18AFE0;
}
.signin:hover {
	color:#369;
}
/*
*HEADER
*/
header{
	clear:both;
	height:163px;
	padding: 6px 0;
	text-align: center;
	font-family:"CrimsonSemiBold", serif;
}
header h1{
	font-size:58px;
	line-height:1em;
	margin:10px 0;
	letter-spacing: -2px;
	color: #232323;
}
header h5{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5em;
	margin: 10px 0;
	color: #222;
}
/*
*PRODUCTS
*/
.products{
	text-align: center;
	height: 288px;
	padding-bottom:30px;
	font-family: 'Lucinda Grande', sans-serif;
}
.products a{
	position: relative;
	top:40px;
	left:75px;
	width: 160px;
	margin: 15px 20px 5px;
	float:left;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	box-shadow:0 0 5px #EFEFEF;
	padding: 20px 10px;	
	text-decoration: none;
	font-family: 'Lucinda Grande', sans-serif;
}
.products h3 {
	font-size: 21px;
	color: #369;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.products h3 span {
	text-decoration: underline;
}
.products h4 {
	margin: 10px 0;
	font-size: 14px;
	color: #C00;
}
.products p {
	color:#222;
	font-size: 14px;
	line-height: 1.4em;
	margin: 5px 0;
}
/*
*CUSTOMERS
*/
.customers{
	margin-bottom: 50px;
	position:relative;
}
.customers h2{
	font-family: "CrimsonSemibold", serif;
	color: #232323;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing:-1px;
	text-align: center;
}
	
.customers p {
	font-family: "CrimsonRoman", serif;
	font-size: 22px;
	line-height:1.3em;
	color: #666;
	margin-bottom: 20px;
}
/*
*MEET SOME CUSTOMERS
*/
.meet {
	position:absolute;
	left:-140px;
	top:70px;
}
.meet a{
	display:block;
	width: 143px;
	height:104px;
	background: url('../img/img-customers.png') no-repeat 0 0;
	text-indent: -1000em;
}
.meet a:hover {
	background-position: 0 100%;
}
.meet p {
	font-size:14px;
	text-align: center;
	color: #369;
}
.meet p:hover {
	color: #69C;
	text-decoration:underline;
}
/*
*RED ARROW IMAGE
*/
.arrow-left {
	width:69px;
	height:36px;
	position:relative;
	top: -20px;
}
/*
* GLOBE IMAGE
*/
.globe {
	float:right;
}

/*
*MANIFESTO
*/
.manifesto {
	margin-bottom: 50px;
	padding:3px;
	overflow:hidden;
	text-align:center;
	font-family: "CrimsonRoman", serif;
}
.manifesto h2{
	font-family:"CrimsonSemibold", serif;
	color: #232323;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing: -1px;
	margin:30px 0;
}
.column,
.column-end{
	float:left;
	color: #222;
	font-size: 18px;
	line-height:1.5em;
}
.column{
	width: 380px;
	margin-right: 40px;
}
.column-end{
	margin-right: 0px;
	width: 380px;
}
.manifesto h3 {
	float: left;
	font-size:58px;
	line-height: normal;
	margin: -10px 15px 0 0;
	color:#CCC;
}
.manifesto h4 {
	font-family: 'Lucinda Grande', sans-serif;
	font-size: 16px;
	margin: 5px 0;
	color: #C00;
	text-align: left;
}
.manifesto p {
	font-family: 'Lucinda Grande', sans-serif;
	text-align:left;
	line-height:1.4em;
	font-size: 12px	
}

.number_fix{
 clear:left
}

 #Ourmanifesto{
		display:none;
	}
 
	
/*
*REWORK
*/
.rework {
	height: 500px;
	position:relative;
}
.rework h2{
	font-family: "CrimsonSemibold", serif;
	margin:30px 0;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
}
/*
*BOOK IMAGE
*/
.book {
	float:left;
}
/*
*QUOTES
*/
.quotes {
	padding-top: 5px;
	text-align: center;
}
.quotes h3 {
	color: #888;
	font-weight:normal;
	font-family: "CrimsonRomanItalic", serif;
	font-style: italic;
	font-size: 22px;
	margin-top: 35px;
	margin-bottom: 10px;
}
.quotes p {
	font-family: 'Lucinda Grande', sans-serif;
	font-size: 12px;
}
/*
*ARROW RIGHT IMAGE
*/
.arrow-right {
	width: 75px;
	position: absolute;
	top: 130px;
	right: 5px;
}
/*
*CRUMPLED PAPER IMAGE
*/
.crumple {
	position: absolute;
	top: 50px;
	right: -125px;
}
.crumple p {
	font-size:12px;
	text-align: center;
}
.crumple p:hover{
	color: #69C;
	text-decoration: underline;
}
/*
* OFFERINGS
*/
.offerings h2 {
	font-family:"CrimsonSemibold", serif;
	margin: 30px 0;
	font-size: 48px;
	text-align: center;
}
.main-offerings {
	width: 570px;
	height: 213px;
	margin: auto;
}
.main-offerings a{
	width: 160px;
	margin: 5px;
	float: left;
	padding: 0 10px;
	font-family: 'Lucinda Grande', 'Lucinda Sans Unicode', Verdana, sans-serif;

text-align:center;
line-height: 1.5em;
}
.main-offerings h3 {
	font-size: 21px;
	margin: 3px 0 0 10px;
	color: #222;
}
.main-offerings h3:hover {
	color: #69C;
}
.main-offerings h4 {
	margin: 5px 0;
	font-size: 14px;
	color: #C00;
}
.main-offerings p {
	color: #666;
	font-size: 12px;
	line-height: 1.4em;
}
.offerings .column h3,
.offerings .column-end h3 {
	border-bottom: 1px solid #E8E8E8;
	font-family: 'Lucinda Grande', sans-serif;
	font-size: 14px;
	margin: 5px 0;
	color: #C00;
}
.offerings .column{
	float:left;
	width: 300px;
	margin-right: 30px;
	margin-left: 110px;
	text-align: center;
}
.offerings .column-end {
	float: left;
	width: 300px;
	padding:0;
	margin-right:0;
	margin-left: 0;
	margin-bottom: 30px;
	text-align: center;
}
.offerings .column li,
.offerings .column-end li{
	list-style-type: none;
	padding: 5px;
}
.offerings .column a,
.offerings .column-end a {
	font-size: 22px;
	font-weight: bold;
	color: #222;
}
.offerings .column small,
.offerings .column-end small {
	color: #666;
	font-size: 12px;
	font-family: 'Lucinda Grande', sans-serif;
}
/* Footer*/
footer {
	margin: 30px auto;
	text-align: center;
	line-height: 1.5em;
	font-family: 'Lucinda Grande', san-serif;
}
footer h3 {
	font-size: 14px;
	color: #C00;
}
footer a {
	text-decoration: none;
}
footer li {
	font-size: 12px;
	padding: 5px 0;
}
footer a:hover {
	color: #69C;
	}
	footer p {
		font-size: 10px;
		color: #999;  margin-top: 50px;
	}
	
	
	
	
	
	
	
	



/*==============MEDIA QUERIES=============*/	
	
	
	
	
	
	
	
	
	
		@media(max-width:578px){
			
			/*
			*HR STYLES
			*
			hr{
					height: 5px;
			}
			
			/*
			*NAVIGATION
			*/
			nav{
				height:20px;
			}
			
			nav ul {
			text-align:center;
				margin:0px;
				width:100%;
				padding: 5px;
			}
			
			nav li{
				padding:1px;
				font-size:10px;
			}
		/*IMAGE*/
		
		img{
		height:32px;
		width:100px;
		}
			/*
			*HEADER
			*/
			
			header{
				padding: 2px 0;
				width:100%;
				font-family:"CrimsonSemiBold", serif;
			}
			
			header h1{
				font-size:20px;
				font-weight:bold;
				width:100%;
				margin:0px 0px 35px 10px;
				letter-spacing: -1px;
				line-height:0.8em;
				text-align:left;
			}
			
			header h5{
				font-weight:normal;
				font-size: 13px;
				line-height: 1.2em;
				margin: 40px 10px 0px 10px;
				width:100%;
			 text-align:left;
			}
			
			
			/*
			*PRODUCTS
			*/
			
			.products{
				height: 100%;
				width:100%;
				padding-bottom:10px;
				font-family: 'Lucinda Grande', sans-serif;
			}
			
			.products a{
				position: relative;
				top: 0px;
				left: 0px;
				margin:5px 3px;
				width:100%;
	   flaot:left;
				padding: 5px 5px;
			}
			
			
			/*
			*CUSTOMERS
			*/
			
			.customers h2{
				display:none
			}
			
	  #loyal_customers{
				display:none;
			}
			
	  #trusted {
					height:40px;
					width:100%;
					margin:5px;
					margin-top:50px;
					padding:0px;
					font-size: 17px;
					font-weight:bold;
					line-height: 1em;
					letter-spacing:-1px;
					text-align:left;
			}
			
			
			/*
			*MEET SOME CUSTOMERS
			*/
			
			.meet {
				display:none;
				}
				
				#brands{
					height:40px;
					width:100%;
					margin-top:40px;
					margin-bottom:-10px;
					margin-left:-3px;
				}
				
			
			/*
			*RED ARROW IMAGE
			*/
			.arrow-left {
				display:none;
			}
			
			/*
			* GLOBE IMAGE
			*/
			.globe {
				display:none;
			}

			/*==========================
			*MANIFESTO
			============================
			*/
			
			#Yourmanifesto{
				display:none;
			}
			
			#Ourmanifesto{
			display:block;
			text-align: left;
			font-size: 25px;
			margin: 0px 0px 10px 35px;
			}
			
			.column,
			.column-end{
			 text-align:left;
				color: #222;
				font-size: 18px;
				line-height:1.5em;
				margin:9px 3px;
				width:100%;
			}
			
			
			.manifesto h3 {
				
			}
			
			.manifesto h4 {
				margin: 10px 0px 5px 0px;
			}
			
			.manifesto p {
				 overflow: hidden;
				}
			
			
			
			/*
			*REWORK
			*/
			.rework {
				display:none;s
			}
			
		
			/*
			* OFFERINGS
			*/
			
		
			.offerings, .column{
				width: 100%;
				margin-right: 30px;
				margin-left: 0px;
				text-align: center;
				}
			
			
			.offerings h2 {
				display:none;
			}
			
			.main-offerings {
				display:none;
			}
			
			#Ourservices, #Ourbooks{
				display:block
				margin:0px;
			}
			
		 .column, .column-end {
			width:100%;
			height:100%;
			padding:0px;
			}
			
			
			
			}




